[submodule "Potato/vendor/spdlog"]
	path = Potato/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Potato/vendor/GLFW"]
	path = Potato/vendor/GLFW
	url = https://github.com/RodMaker/glfw
